# Get your own bot token from telegram bot father
BOT_TOKEN=7462815733:AAFzWH7dnNSs2-G69PjqCcrRiv9fcNmzx7M


  SUPER_HR_EMP_ID: ${{ secrets.SUPER_HR_EMP_ID }}
  SUPER_HR_NAME: ${{ secrets.SUPER_HR_NAME }}
  SUPER_HR_PWD: ${{ secrets.SUPER_HR_PWD }}
